<main class="learn-container">
  <h1>Learn Waste Segregation</h1>
  <p class="subtitle">Understand the types of waste and how to dispose of them responsibly 🌎</p>

  <main class="learn-container">
   
    <div class="blocks-container">
      <div class="block block1">
        <a href="https://sifiratikvakfi.org/en/organic-waste" target="_blank"><h3>Organic Waste</h3>
        <p>Food scraps, garden waste, and biodegradable items go here.</p></a>
        
      </div>
      <div class="block block2">
        <a href="https://www.xometry.com/resources/materials/what-is-plastic/" target="_blank"><h3>Plastic</h3>
        <p>All plastic bottles, packaging, and containers.</p></a>
        
      </div>
      <div class="block block3">
        <a href="https://www.reelpaper.com/blogs/reel-talk/paper-waste-why-it-matters-how-to-reduce-it?srsltid=AfmBOoouXHdpeY11uwXz8A5i5Tu-UzH-4xy9Y99pqKBp30_1oQrH_v1Y" target="_blank"><h3>Paper</h3>
        <p>Newspapers, cardboard, and other paper materials.</p></a>
        
      </div>
      <div class="block block4">
        <a href="https://sifiratikvakfi.org/en/glass-waste" target="_blank"><h3>Glass</h3>
        <p>Bottles, jars, and broken glass items (handled carefully).</p></a>
        
      </div>
      <div class="block block5">
        <a href="https://sifiratikvakfi.org/en/metal-waste" target="_blank"><h3>Metal</h3>
        <p>Cans, tins, aluminum foil, and scrap metals.</p></a>
        
      </div>
      <div class="block block6">
        <a href="https://www.epa.gov/hw/learn-basics-hazardous-waste" target="_blank"><h3>Hazardous Waste</h3>
        <p>Batteries, chemicals, electronic waste, and medical waste.</p></a>
        
      </div>
    </div>
  </main>
</body>
</html>
